<div class="card card-default">
  <div class="card-header">
    {{title}}
  </div>
  <div class="card-block">
    <div class="row" style="margin-bottom: 10px;">
      <div class="col-md-4">
          <a class="btn btn-primary" [routerLink]="[editLink, 0]">+ Novo</a>
      </div>
    </div>
    <table data-dataTable class="table table-bordered">
      <thead>
        <tr>
          <th *ngFor="let title of header">{{title}}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let obj of list">
          <td *ngFor="let prop of props">{{obj[prop]}}</td>
          <td>
              <a class="btn btn-primary" [routerLink]="[editLink, obj.id]">Editar</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>