<div class="card card-default">
    <div class="card-header">
      Sistema
    </div>

    <div class="card-block">
      <form class="form-horizontal" novalidate [formGroup]="formGroup">
        <fieldset>
          <legend>Informações do sistema</legend>
          <div class="form-group">
            <label class="col-md-2 control-label" for="nome">Nome</label>
            <div class="col-md-8">
              <input type="text" class="form-control" id="nome" formControlName="nome" />
              <div class="alert alert-danger" *ngIf="displayMessage['nome']">
                    {{displayMessage['nome']}}
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-2 control-label" for="descricao">Descrição</label>
            <div class="col-md-8">
              <input type="text" class="form-control" id="descricao" formControlName="descricao" />
              <div class="alert alert-danger" *ngIf="displayMessage['descricao']">
                    {{displayMessage['descricao']}}
              </div>
            </div>
          </div>

        </fieldset>
      </form>
    </div>

    <div class="card-footer">
        <div class="row">
            <div class="col-md-6 col-md-offset-2">
                <span>
                    <button [disabled]="!formGroup.valid"
                            class="btn btn-primary"
                            (click)="salvar()"
                            type="button"
                            style="width:80px;margin-right:10px">
                        Salvar
                    </button>
                </span>
                <span>
                    <a [routerLink]="['/sistema']" class="btn btn-secondary" href="#" style="margin-right:10px">
                        Cancelar
                    </a>
                </span>     
            </div>
        </div>
    </div>
</div>