<div class="card card-default">
    <div class="card-header">
      Perfil
    </div>

    <div class="card-block">
      <form class="form-horizontal" novalidate [formGroup]="formPerfil">
        <fieldset>
          <legend>Informações do perfil</legend>

          <div class="form-group">
            <label class="col-md-2 control-label" for="nome">Nome</label>
            <div class="col-md-8">
              <input type="text" class="form-control" id="nome" formControlName="nome" />
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-2 control-label" for="descricao">Sistemas</label>
            <div class="col-md-8">
                <table class="table table-condensed">
                    <tbody>
                        <tr *ngFor="let sistema of sistemas">
                            <td>{{sistema.nome}}</td>
                            <td><input type="checkbox" [checked]="sistema.permissao" (change)="sistema.permissao = !sistema.permissao" /></td>
                        </tr>
                    </tbody>
                </table>
            </div>
          </div>

        </fieldset>
      </form>
    </div>

    <div class="card-footer">
        <div class="row">
            <div class="col-md-6 col-md-offset-2">
                <span>
                    <button class="btn btn-primary"
                            (click)="salvar()"
                            type="button"
                            style="width:80px;margin-right:10px">
                        Salvar
                    </button>
                </span>
                <span>
                    <a [routerLink]="['/perfil']" class="btn btn-secondary" href="#" style="margin-right:10px">
                        Cancelar
                    </a>
                </span>
                <span>
                    <button class="btn btn-danger"
                            type="button"
                            style="width:80px;margin-right:10px">
                        Excluir
                    </button>
                </span>       
            </div>
        </div>
    </div>
</div>